html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

/* Font Faces */
@font-face {
    font-family: "Unbounded";
    src: url(../Tecboard/fonts/Unbounded-Bold.ttf) 
    format("truetype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url(../Tecboard/fonts/Poppins/Poppins-Bold.ttf), 
    url(../Tecboard/fonts/Poppins/Poppins-Regular.ttf) 
    format("truetype");
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #0E1014;
    color: #FFFFFF;
}

header img{
    display: block;
    margin: 75px ;
    align-items: left;
}

main{
    text-align: center;
}

h1{
    font-family: 'Unbounded', 'Poppins',sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin: 60px auto;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 24px auto;
    width: 792px;
}

a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}
a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    height: 446px;
    margin: 40px auto;
    width: 792px;
}

@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }
    p{
        width: 648px;
        margin: 171px auto 60px;
    }
}

@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 341px;
    }
    a{
        font-size: 20px;
        width: 251px;
        height: 66px;
        line-height: 56px;
    }
    section img{
        width: 341px;
        height: 230px;
    }
    
}